{% assign all_events = site.events | concat: site.lectures %}
{% assign all_events = all_events | concat: site.assignments %}

{% assign events_to_show = "" | split: "" %}
{% for e in all_events %}
    {% unless e.hide_from_announcements %}
        {% assign events_to_show = events_to_show | push: e %}
    {% endunless %}
{% endfor %}

{% assign all_events = events_to_show | concat: site.announcements %}
{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% comment %} Anything dated within this many days of the last build is marked new. {% endcomment %}
{% assign new_window_days = 10 %}
{% assign now_ts = site.time | date: '%s' | plus: 0 %}
{% assign window_seconds = new_window_days | times: 86400 %}
{% assign new_cutoff = now_ts | minus: window_seconds %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
<h2>Updates</h2>
<ul class="update-list">
    {% for n in all_events_sorted limit:7 %}
    {% assign item_ts = n.date | date: '%s' | plus: 0 %}
    {% if item_ts >= new_cutoff %}{% assign freshness = 'is-new' %}{% else %}{% assign freshness = 'is-old' %}{% endif %}
    <li class="no-p-margin update-item {{ freshness }}">
        <span class="update-date">{{ n.date | date: "%b %-d" }}</span>
        <span class="update-body">
        {% if n.type %}
            {% if n.type == 'lecture' %}
                Lecture posted: {{ n.title }}
                {% include lecture_links.html lecture=n %}
            {% elsif n.type == 'assignment' %}
                <a href="{{ n.url | prepend: site.baseurl }}">{{ n.title }}</a> released
            {% else%}
                {{ n.description }}
            {% endif %}
        {% else %}
        {{ n.content }}
        {% endif %}
        {% if freshness == 'is-new' %}<span class="update-badge">New</span>{% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
